
html {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
}

html, body {
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0;
}

section#formula {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	opacity: 0.875;
	z-index: 100;
}

section#formula input {
	display: inline-block;
	width: calc(100% - 11.5em);
	height: 20px;
	padding: 0.75em;
	padding-bottom: calc(0.75em - 1px);
	margin: 0;
	background-color: #fff;
	border: none;
	border-bottom: 1px solid #eee;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.25em;
	font-weight: 300;
	line-height: 1em;
}

section#formula input:focus {
	border: none;
	border-bottom: 1px solid #1abc9c;
	outline: none;
}

section#formula a {
	display: inline-block;
	color: #fff;
	width: 8.5em;
	height: 20px;
	padding: 0.75em;
	background-color: #1abc9c;
	font-size: 1.25em;
	font-weight: 300;
	line-height: 1em;
	text-align: center;
	cursor: pointer;
}

section#graph {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	background-color: #222;
}

section#graph span {
	position: absolute;
	bottom: 50%;
	left: 50%;
	width: 4px;
	height: 4px;
	margin-top: -2px;
	margin-left: -2px;
	border-radius: 50%;
	background-color: #1abc9c;
	transition: left 0.5s ease, bottom 0.5s ease;
}
